fastapi
uvicorn
gunicorn
pydantic
supabase
mistralai
twilio
python-multipart
thefuzz
requests
python-dotenv
tenacity
tenacity
google-auth
requests
fpdf2
langchain-core
langchain-mistralai
langgraph

# Monitoring
sentry-sdk[fastapi]==1.40.0
