fastapi
uvicorn
gunicorn
pydantic
supabase
mistralai
twilio
python-multipart
thefuzz
requests
python-dotenv
tenacity
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
fpdf2
langchain
langchain-mistralai
langgraph
